/* Importing Font  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* Changing default parameters */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --navbar-link-color: #b9b9b9;
}


/* Making common/utilities class */

.container {
    max-width: 1320px;
    /* width: min(600px, 90%); */
    margin-inline: auto;
}

.flex {
    display: flex;
}

.container {
    max-width: 1320px;
    width: min(1320px, 90%);
    margin-inline: auto;
}

.button-shape {
    padding: 7px;
    /* font-size: 1.2rem; */
    border-radius: 10px;
    border: 0.2px solid #5850ef;
    background-color: #5955b3 !important;
    color: #ecedf7;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Header section */

.header-section {
    margin-top: 20px;
    justify-content: space-between;
}

.logo-nav-links {
    gap: 20px;
    align-items: center;
}

.logo-nav-links img {
    width: 20%;
}


/* Nav bar links anchor tag */

nav a {
    color: var(--navbar-link-color);
}

.nav-bar-links {
    display: flex;
    gap: 30px;
}


/* Hover Properties */

.nav-bar-links a:hover {
    color: #1c1c1d;
}


/* Main Menu of Web page */

main {
    margin-top: max(5%, 100px);
    flex-direction: row-reverse;
}

.main-headline {
    /* margin-top: 10px; */
    align-items: center;
    justify-content: space-between;
}


/* Heading Elements */

.Services-section {
    width: 30%;
    /* align-items: center; */
}


/* Main Heading attribute */

main {
    margin-bottom: 50px;
}

.main-heading-h1 {
    width: 100%;
    /* font-size: 4rem; */
}

.Crush {
    color: #5955b3;
}

h5 {
    color: #9d9d9d;
}

.services {
    margin-top: 30px;
    width: 60%;
    font-size: 1.3rem;
}

.main-heading-h1 {
    font-size: 2.1rem;
}


/* Image attribute */

.main-heading-img {
    width: 65%;
}


/* Media Query section */

@media only screen and (min-width: 100px) and (max-width: 650px) {
    .nav-bar-links {
        display: none;
    }
    .main-headline {
        flex-direction: column-reverse !important;
        gap: 40px;
    }
    .Services-section {
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    h5 {
        font-size: 1.1rem;
        width: 70%;
    }
    .main-heading-h1 {
        font-size: 2.1rem;
    }
    .main-heading-img {
        width: 90%;
    }
    .button-shape {
        /* width: 90%; */
        font-size: 0.9rem;
    }
    .services {
        width: min(90%, 150px);
    }
    .header-section {
        justify-content: space-between;
    }
    .logo-nav-links img {
        width: 55%;
    }
}